<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="formApp" ng-controller="formController">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/reset.css" rel="stylesheet">
        <link href="css/global.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container">
            <a class="navbar-brand logo">DILUIÇÃO</a>
          </div>
        </nav>
        <div class="row">
            <div class="col-md-12 bloco" id="bloco-ola">
                <h1>Olá!</h1>
                <p>
                    Seja <span class="bold">bem-vindo</span> ao aplicativo para diluição de pulverização.
                    Por favor, para evitarmos erros na aplicação final com o pulverizador, verifique se os dados estão certos.
                </p>
                <p>
                    <span class="bold">Antes de começarmos </span>verifique se você possui todos os requisitos listados abaixo. É fundamental possuir todos os ítens abaixo corretos. A <span class="bold">Taxa de Aplicação</span> poderá ser obtida em nosso outro aplicativo, caso não a tenha!
                </p>
                <div class="list-group">
                    <a class="list-group-item">
                      <p class="list-group-item-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Dose do produto comprado</p>
                    </a>
                    <a class="list-group-item">
                      <p class="list-group-item-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Espaço máximo do pulverizador</p>
                    </a>
                    <a class="list-group-item">
                      <p class="list-group-item-text"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Taxa de aplicação</p>
                    </a>
                </div>
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </div>
            <div class="col-md-12 bloco" id="bloco-tapli">
                <hr>
                <h2>Taxa de Aplicação</h2>
                <br />
                <p>
                    Informe a  <span class="bold">taxa de aplicação em L/ha</span> corretamente. Caso você não tenha este dado, disponibilizamos outro app para você descobrir.
                </p>
                <div class="form-group">
                  <label for="taxa">em L/ha </label>    
                  <input id="taxa" ng-model="formData.taxa" type="text" class="form-control" placeholder="0 L/ha" />
                </div>
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </div>
            <div class="col-md-12 bloco" id="bloco-produto">
                <hr>
                <h2>Produto Comprado</h2>
                <br />
                <p>
                    Preciso saber algumas informações do produto que iremos diluir. São poucos detalhes, primeiramente <span class="bold">selecione</span> abaixo qual a unidade de medida que você deseja utilizar.   
                </p>
                <br />
        <div class="form-group">
            <div id="medidas" class="btn-group">
              <label class="btn btn-primary">
                <input type="radio" name="medida" id="option1" value="Kg/ha" ng-model="formData.medida"> Kg/ha
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="medida" id="option2" value="g/ha" ng-model="formData.medida"> g/ha
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="medida" id="option3" value="L/ha" ng-model="formData.medida"> L/ha
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="medida" id="option4" value="mL/ha" ng-model="formData.medida"> mL/ha
              </label>
            </div>
        </div>
                <br />
                <br />
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </div>
            <div class="col-md-12 bloco" id="bloco-dose">
                <hr>
                <h3>Dose que será diluída</h3>
                <br />
                <p>
                    Nos informe qual a <span class="bold">dose</span> que você deseja aplicar do produto comprado, <span class="bold">conforme a unidade de medida selecionada</span> anteriormente.
                </p>
                <br />
                <div class="form-group">
                  <label for="exemplo">em {{formData.medida}} </label>    
                  <input id="dose" ng-model="formData.dose" type="text" class="form-control" placeholder="0 {{formData.medida}}" />
                </div>
                <br />
                <br />
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </div>
            <div class="col-md-12 bloco" id="bloco-tanque">
                <hr>
                <h2>Tamanho do tanque</h2>
                <br />
                <p>
                    Me diga qual é o tamanho do tanque do pulverizador.
                </p>
                <br />
                <div class="form-group">
                  <label for="exemplo">em L </label>    
                  <input id="tanque" ng-model="formData.tanque" name="tanque" type="text" class="form-control" placeholder="0 Litros" />
                </div>
                <br />
                <br />
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </div>
            <div class="col-md-12 bloco" id="bloco-resultado">
                <hr>
                <h1>Resultado</h1>
                <br />
                <br />
                <div class="list-group">
                    <a class="list-group-item">
                      <p class="list-group-item-text">Valores Informados</p>
                    </a>
                    <a class="list-group-item">
                      <h4 class="list-group-item-heading">Dose do Produto</h4>
                      <p class="list-group-item-text">{{formData.dose}} {{formData.medida}}</p>
                    </a>
                    <a class="list-group-item">
                      <h4 class="list-group-item-heading">Taxa de Aplicação</h4>
                      <p class="list-group-item-text">{{formData.taxa}} L/ha</p>
                    </a>
                    <a class="list-group-item">
                      <h4 class="list-group-item-heading">Tanque do Pulverizador</h4>
                      <p class="list-group-item-text">{{formData.tanque}} L</p>
                    </a>
                    <a class="list-group-item active">
                        <h3 class="list-group-item-heading" style="text-align: center;">RESULTADO</h3><h4>{{(formData.tanque * formData.dose) / formData.taxa}} L/tanque</h4>
                    </a>
                </div>
            </div>
        </div>
        <!-- SCRIPT DOWNLOADS AREA-->
        <script src="js/angular.min.js"></script>
        <script src="js/jquery-3.2.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- PROJECT'S SCRIPTS -->
        <script src="js/app.js"></script>
        <script src="js/tela.js"></script>
        <script src="js/calculo.js"></script>
        <script>
            $(document).ready(function(){   
                var tela = new Tela();
                tela.Ajustar(".bloco");
                
                    $("#bloco-produto").hide();
                    $("#bloco-dose").hide();
                    $("#bloco-tanque").hide();
                    $("#bloco-resultado").hide();
                        
                    $("#taxa").focus(function() {
                        $("#bloco-produto").show();
                    });
                        
                    $("#medidas").click(function() {
                        $("#bloco-dose").show();
                    });
                        
                    $("#dose").focus(function() {
                        $("#bloco-tanque").show();
                    });
                        
                    $("#tanque").focus(function() {
                        $("#bloco-resultado").show();
                    });
                   
            });
        </script>
    </body>
</html>
